---
title: About Me
permalink: /about/
---

<div class="row">
  <div class="col-xs-12 col-sm-8">
	<h3>Book of Topaz</h3>
	<p>I like to recommend a lot of different programs, apps, and tricks to my friends. But now I want to share it with everyone. It is not a typical review/advert as it will provide more subjective experiences. For websites and programs I would go over the evolution of the interface and features from my perspective, whereas for neat tricks I write about the frequency and maybe how I stumbled upon it. To create some sort of structure, I have divided the website into these catagories:
	</p>
	<ol>
	<li><b>Service <i class="fa fa-lg fa-bolt"></i></b>
	<p>Say you want to send a big file to somebody, or maybe a little touchup on a file without installing some clunky software. These are the more common problems to come across and hopefully you will remember my suggestions here.</p></li>
	<li><b>Epiphany <i class="fa fa-lg fa-bomb"></i></b>
	<p>This is going to fill that hole in your heart you never knew you had. Or more of the uncommon problems you would likely not face.</p></li>
	<li><b>Numbers <i class="fa fa-lg fa-cubes"></i></b>
	<p>Numbers, datasets, infographs, inputs and outputs there is something to just play around with.</p></li>
	<li><b>Refinery <i class="fa fa-lg fa-sun-o"></i></b>
	<p>So I have a good chunk of bookmarks and a lot of them are dead/garbage but someone else out there might like it. Bookmarks also capture a moment in time, and everything from the date to the title I used says a lot. </p></li>
	<li><b>Personal <i class="fa fa-lg fa-bookmark"></i></b>
	<p>As I find good opportunities to talk about special websites with lots of heart, these are the bookmarks I have saved in anticipation that someone else would enjoy what I enjoy ~</p></li>
	</ol>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="row">
      <div class="col-xs-12 text-center">
        {% if site.author.avatar %}
          {% if site.author.avatar contains "//" %}
            {% capture avatar %}{{ site.author.avatar }}{% endcapture %}
          {% else %}
            {% capture avatar %}{{ site.author.avatar | prepend: site.baseurl }}{% endcapture %}
          {% endif %}
          <img class="img-responsive img-rounded" src="{{ avatar }}">
        {% else %}
          <h1 class="poorman-thumbnail" style="background: #48c;">
            {{ site.author.name | truncate: 1, '' }}
          </h1>
        {% endif %}  
      </div>
      <div class="col-xs-12 text-center">
		<h2>{{ site.author.name }}</h2>
		{{ site.author.profile | markdownify }}
        <div class="hidden-xs">
		<h4>Find Me On</h4>
          <ul class="list-inline">
          {% for social in site.author.socials %}
            {% if social[1] %}
              <li>
                <a href="{{ social | last }}">
                  <i class="fa fa-lg fa-{{ social | first }}"></i>
                </a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
		</div>
      </div>
    </div>
  </div>
</div>
