{% capture icon%}{% case page.url | split:"/" | first %}{% when "archives" %}archive{% when "tags" %}tags{% when "about" %}user{% endcase %}{% endcapture %}
<a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-book"></i>{{ site.name }}</a>
<small class="visible-xs-inline" id="location"> / <i class="fa fa-fw fa-{{icon}}"></i></small>
<div class="button-group visible-xs pull-right">
  <button type="button" class="btn btn-default" id="menu-toggle">
    <span class="fa fa-bars"></span>
  </button>
</div>
