<div class="col-xs-6 col-sm-12">
  <hr class="hidden-xs"></hr>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="{{ site.baseurl }}/archive/">
        <i class="fa fa-fw fa-search"></i>
        Search
      </a>
    </li>
    <li {% if page.url == "/about/" %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/about/">
        <i class="fa fa-fw fa-question"></i>
        About
      </a>
    </li>	
  </ul>
</div>
<div class="col-xs-6 col-sm-12">
  <hr class="hidden-xs"></hr>
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li {% if page.url == "/archives/" %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/archives/">
        <i class="fa fa-fw fa-archive"></i>
        Archive
        <span class="badge hidden-xs pull-right">
          {{ site.posts | size }}
        </span>
      </a>
    </li>
    <li {% if page.url == "/tags/" %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/tags/">
        <i class="fa fa-fw fa-tags"></i>
        Tags
        <span class="badge hidden-xs pull-right">
          {{ site.tags | size }}
        </span>
      </a>
    </li>
  </ul>
</div>
