{% capture pathtype %}{{ page.path | split: '/' | first }}{% endcapture %}
{% if pathtype == '_posts' %}
	{% capture older %}{{ page.previous.url }}{% endcapture %}
	{% capture newer %}{{ page.next.url }}{% endcapture %}
{% endif %}

<div class="hidden-xs col-sm-12" id="roaming-pager">
  {% if older or newer %}
	<hr/>       
    <ul class="pager" id="full-pager">
      <li id="roaming-pager-newer" class="previous {% if newer == "" %}disabled{% endif %}">
        {% if newer != "" %}<a href="{{ site.baseurl }}{{ newer }}">
          <span>&laquo;</span>
          <span class="hidden-xs">Newer</span>
        </a>{% endif %}
      </li>     
      <li id="roaming-pager-older" class="next {% if older == "" %}disabled{% endif %}">
        {% if older != "" %}<a href="{{ site.baseurl }}{{ older }}">
          <span class="hidden-xs">Older</span>
          <span>&raquo;</span>
        </a>{% endif %}
      </li>
    </ul>
  {% endif %}
</div>
