---
layout: default
---

<h2>{{ page.title }}</h2>
<p>
  <span class="label label-default">
    <i class="fa fa-fw fa-calendar-o"></i>
    {{ page.date | date: "%b %-d %Y" }} 
  </span>
  <br/><br/>
  {% for tag in page.tags %}
    <span class="label label-default">
      <i class="fa fa-fw fa-tag"></i>
      {{ tag }}
    </span>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</p>
<hr />
{{ content }}
<div class="row text-center">
	<div class="col-xs-4 col-sm-2 col-sm-offset-3"><i class="fa fa-fw fa-stop"></i></div>
	<div class="col-xs-4 col-sm-2"><i class="fa fa-fw fa-stop"></i></div>
	<div class="col-xs-4 col-sm-2"><i class="fa fa-fw fa-stop"></i></div>
</div>
